.env
.env.*

.git/
.gitignore
.gitattributes

**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.spi
.pytest_cache/
.coverage
htmlcov/

datadump.json
db.sqlite3
*.log

media/
static/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
