.env
.env.*
secrets.json
*.pem
*.key

.venv/
env/
venv/
ENV/
Hyperion/

**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST

db.sqlite3
*.log
*.sqlite3
datadump.json

media/
static/
staticfiles/

.idea/
*.iml
*.iws

.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
